.courseInput {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.courseInput h5 {
    text-align: center;
}
.courseInput label {
    font-size: 15px;
    font-weight: 700;
}
.choiceHolder {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.choiceSection {
    padding: 0 12px;
}