body {
    background: #353C4A !important;
}

.App {
    height: 100vh;
    background-color: #353C4A;
    color: white;
    /* overflow: hidden; */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.app-content {
    display: flex;
    margin: 15px;
}

.app-sidebar {
    display: flex;
    flex-direction:column;
    width: 35vw;
    margin: 10px;
}

.calendar-wrap {
    width: 65vw;
    margin: 10px;
}

.app-helper {
    width: 65vw;
    margin: 10px;
}

.error-notifications {
    position: fixed;
    right: 0px; bottom: 0px;
    width: 30vw;
    padding: 1px;
}

@media (max-width: 800px) {
    .app-content {
        flex-direction: column-reverse;
    }

    .app-sidebar, .calendar-wrap, .app-helper {
        width: auto;
    }

    .error-notifications {
        position: fixed;
        left: 0;
        width: 95%;
        margin: auto;
        z-index: 1000;
    }
}
