.App-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.App-header h1 {
    margin: 0;
}

.dummy {
    visibility: hidden;
}

.header-menu-button img {
    width: 35px;
}

.header-menu-button button {
    background: none;
    border: none;
}
