.calendar-wrapper {
    background: #282c34;
    padding: 20px 25px 20px 25px;
    border-radius: 15px;
}

.fc-day-today {
    background-color: inherit !important;
}

.fc-col-header-cell a {
    color: white !important;
    text-decoration: none;
}

.fc-event {
    cursor: pointer;
    border-width: 3px;
}

.term-selectors {
    float: right;
}

.term-selectors .btn {
    margin-left: 5px;
}