.listOverflow {
    overflow: auto;
    max-height: 500px;
}

.courseListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 5px;
    border-color: transparent;
    background: white;
}

.courseListGroup:not(:first-child) {
    margin-top: 10px;
}

.courseListItem > div {
    display: inline-block;
    width: 100%;
}

.courseListItem h5, .courseListItem p {
    margin: 0;
}

.courseListItem Button {
    height: 40px;
}

.errorText {
    margin: 10px 0 0 0;
}

.closedItem {
    background: #ff8b96;
}

.courseListItem:hover {
    filter: brightness(80%);
    cursor: pointer;
}