.scheduleHelper {
    padding: 20px 25px 20px 25px;
    background: #282c34;
    border: 2px black;
    border-radius: 15px;
    max-height: 850px;
    margin-bottom: 20px;
}

.scheduleActions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.scheduleAction {
    background: #373D47;
    border-radius: 8px;
    padding: 15px;
}

.suggestList {
    margin-top: 18px;
}